@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng2-drag-drop/style.css";

.modal-backdrop {
    z-index: 5;
}

.modal {
    z-index: 10;
}

html{
    height: 100%;
    line-height: inherit;
}

.mat-raised-button.mat-primary {
    background-color: #3480c1;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: inherit;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.7), rgba(0, 100, 255, 0.7)) repeat scroll 0% 0% transparent;
}